{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Django Project</title>

  <link rel="stylesheet" href="{% static 'mainsite/styles.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

</head>

<body>  
        {% block content %}
        {% if user.is_authenticated %}
         <h1> Huzzah!! {{ user.username }} and Welcome! </h1>
         <img src="{% static 'mainsite/homeImage.jpg' %}" />
         <br/>
          <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
          <p>Welcome honored guest!</p>
          <p>To join the land of Creatures and Caves you must first answer my question 1 and follow its command:</p>
          <p>New user?</p>
          <a href="/signup/">Sign Up</a>
          <p>Existing user?</p> 
          <a href="{% url 'login' %}">Log In</a>
        {% endif %}
        {% endblock %}
</body>
</html>